*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family arial, sans-serif
    background-color color #72A1B0
    margin 0 10px

p
    margin-bottom 1em

.pane
    margin 10px 10px 30px 10px
    max-width 1200px
    width 100%
    margin 50px auto 0 auto
    border 1px solid #D0D0D0
    box-shadow 0 0 8px #D0D0D0
    color #444
    background-color white
    font-size 14px
    font-weight normal

.pane-header
    padding 10px
    width 100%
    font-size 20px
    font-weight bold
    border-bottom 1px solid #D0D0D0

.pane-content
    padding 10px
    width 100%

.footer
    position -webkit-sticky /* Safari */
    position sticky
    bottom 0
    width 100%
    text-align middle

.green
    color #82B072
.blue
    color #72A1B0
.purple
    color #A072B0
.rust
    color #B08172