doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    block title
      title Fam D&D - Page Not Found
  body
    block content
      .pane
        .pane-header
          404 - Page Not Found
        .pane-content
          span Something went wrong.
          span
            a(href="/" title="Fam D&D - Home") Click here to go Home.
      block footer
        p Fam D&D 2018 - Contact us at support@famdnd.com
