extend default

block title
    title Fam D&D - Welcome

block content
    .pane
        .pane-header Welcome to Fam D&D!

        .pane-content
            p This site is currently under construction.
            p If you have any suggestion for features, please email them to <b>support@famdnd.com</b>
